@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

#hero {
    background: url("../images/hero.png") no-repeat center center/ cover;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(221,221,221);
    background: linear-gradient(274deg, rgba(221, 221, 221, 0) 21%, rgba(0,0,0,1) 75%);
    opacity: 0.5;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/herowave.svg") no-repeat center center/ cover;
    opacity: 0.5;
}

.hero-container {
    height: 100vh;
}

.hero-title,
.hero-subtitle {
    font-family: 'Philosopher', sans-serif !important;
}

@media only screen and (max-width: 992px) {
    .hero-title {
        font-size: 3rem !important;
    }
}