@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

#services {
    position: relative;
}

#services::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/footspaarea.jpg") no-repeat center center/ cover;
    opacity: 0.3;
    z-index: -10;
}

#services::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: url("../images/servicesbg.svg") no-repeat center center/ cover; */
    opacity: 0.2;
    z-index: -10;
}

.card-title,
.card-text,
.services-subtitle {
    font-family: 'Philosopher', sans-serif !important;
    position: relative;
}

/* .card-title::before {
    border-bottom: 3px solid black;
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.card-title:hover::before {
    right: 0;
    transition: 0.5s;
} */

.card-content {
    background-color: #2F6130;
    position: relative;
}

.card-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/noticebg.jpg") no-repeat center center/ cover;
    opacity: 0.3;
}

.card-link {
    text-decoration: none;
}

.cards {
    position: relative;
}

.cards::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Philosopher', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.3); /* Use rgba to set opacity */
    opacity: 0; /* Initial opacity set to 0 */
    transition: opacity 0.5s; /* Add a transition effect for smoother appearance */
}

.cards:hover::before { /* Fix the selector here to target the ::before of .cards when hovered */
    opacity: 1; /* Set opacity to 1 on hover to make the overlay visible */
    content: "Explore";
    right: 0;
    transition: 0.7s;
}

.card-link:hover .cards {
    transform: scale(1.05);
    transition: 0.5s;
}

.card-link:hover .card-image::after {
    transform: scale(1.05);
    transition: 0.5s;
}