@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

#services {
    position: relative;
}

#services::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/footspaarea.jpg") no-repeat center center/ cover;
    opacity: 0.3;
    z-index: -10;
}

#services::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: url("../images/servicesbg.svg") no-repeat center center/ cover; */
    opacity: 0.2;
    z-index: -10;
}

.card-title,
.card-text,
.services-subtitle {
    font-family: 'Philosopher', sans-serif !important;
    position: relative;
}

.service-card-0,
.service-card-1,
.service-card-2,
.service-card-3,
.service-card-4,
.service-card-5,
.service-card-6,
.service-card-7 {
    position: relative;
}

.service-card-0::before, 
.service-card-1::before, 
.service-card-2::before, 
.service-card-3::before, 
.service-card-4::before,
.service-card-5::before,
.service-card-6::before,
.service-card-7::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.3;
}
.service-card-0 {
    background: url("../images/indigenous.jpg") no-repeat center center/ cover;
    height: 300px
}
.service-card-1 {
    background: url("../images/package.jpg") no-repeat center center/ cover;
    height: 300px
}
.service-card-2 {
    background: url("../images/scrubs.jpg") no-repeat center center/ cover;
    height: 300px
}
.service-card-3 {
    background: url("../images/massages.jpg") no-repeat center center/ cover;
    height: 300px
}
.service-card-4 {
    background: url("../images/handspa.png") no-repeat center center/ cover;
    height: 300px
}
.service-card-5 {
    background: url("../images/footspa.jpg") no-repeat center center/ cover;
    height: 300px
}
.service-card-6 {
    background: url("../images/facialtreatment.jpg") no-repeat center center/ cover;
    height: 300px
}
.service-card-7 {
    background: url("../images/nailpackages.png") no-repeat center center/ cover;
    height: 300px;
}


.card-button {
    font-family: 'Philosopher', sans-serif !important;
    background-color: #2D602E !important;
    border: 1px solid #BCEABD !important;
    color: #BCEABD !important;
    position: relative;
}

.card-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #40ee4c;
    opacity: 0.5;
    /* z-index: -1; */
    transition: 0.7s ease;
}

.card-button:hover::before {
    right: 0;
    transition: 0.7s;
}

.card-button:hover .arrow-icon {
    transform: translateX(10px);
    transition: 0.7s;
}

.card-link {
    text-decoration: none;
}